@model IEnumerable<Product>

<div id="product_display">
    <h2>Products</h2>

    <div style="display: block">
        <a href="/Product/InsertProduct/">Create a New Product</a>
    </div>
    <div class="d-flex flex-column">
        @foreach (var product in Model)
        {
            <div class="d-inline-flex justify-content-between border border-primary m-2">
                <div class="border m-2 p-4">
                    <p>Product ID: @product.ProductID</p>
                    <p>Name: @product.Name</p>
                    <p>Price: @product.Price</p>
                    <p>Stock Level: @product.StockLevel</p>
                </div>
            </div>
        }
    </div>
    

</div>

@*<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Category ID</th>
        <th>On Sale</th>
        <th>Stock Level</th>
    </tr>

    @foreach (var product in Model)
    {
        <tr>
            <td><a href=/Product/ViewProduct/@product.ProductID>@product.ProductID</a></td>
            <td>@product.Name</td>
            <td>@product.Price</td>
            <td>@product.CategoryID</td>
            <td>@product.OnSale</td>
            <td>@product.StockLevel</td>
        </tr>

    }
</table>*@
